#quiz-alert{
    display: none;
}
#quiz-button, #end-button{
    display: none;
}
.alert{
    border-radius: 0rem!important;
    width: 100%;
}
.btn{
    margin-left: 15px;
}
.ans-right{
    background-color: #aceabb !important;
}
.ans-wrong{
    background-color: #fce08a !important;
}
.emoji-end{
    display: inline-block;
    padding: 20px;
    position: relative;
}
#end-title{
    display: inline-block;
    position: relative;
    padding: 20px;
}
#answer-list{
    display: none;
    margin-bottom: 20px !important;
}
#song-lyrics{
    margin-top: -10px;
    font-size:1.2rem;
}
.list-group-item{
    padding: .5rem 1rem !important;
}